html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(56, 112, 79);
}

#wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}

#container {
    text-align: center;
    width: 75%;
    height: 50px;
    padding: 20px;
    background-color: rgb(35, 73, 51);
    color:white;
    font-size: 2em;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
}

#randomize {
    margin: 20px;
    font-size: 1.5em;
    letter-spacing: .1em;
    color: white;
    background-color: rgb(47, 90, 65);
    border: none;
    box-shadow: 0 5px 5px rgb(35, 73, 51);
}

#randomize:hover,
#randomize:focus,
#randomize:active {
    border: none;
    box-shadow: 0 5px 5px rgb(18, 43, 28);
}